<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#">IG-CLONE</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  
      <li class="nav-item"  >
        <a class="nav-link" href="#"  routerLink='/' >Home</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink='/profile' >Link</a>
      </li>

      <a routerLink="/">Contacto</a>
      
    </ul>

    <ul>
      <li class="nav-link">
        <a href="" class="nav-link" *ngIf="isLogged" >Logout</a>
        <a href="" class="nav-link" *ngIf="!isLogged" >Login</a>
        <a href="" class="nav-link" *ngIf="!isLogged" >Register</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">


 

</div>